<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/express_icon.jpg" type="image/x-icon">
    <title>Express</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome/css/all.css">
	<link rel="stylesheet" href="/styles/students.css">
</head>
<body class="bck">
	
	<div class="mt">
		<div class="col-md-12 ">
			<div class="mytable">
                <a href="/" class="badge badge-warning" style="margin-left: 110em;">add new</a><hr>
                <h1 class="btn btn-success"> 
                    <i class="fa fa-folder-open"></i> <%= contentTitle %>
                </h1>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">Matriculation Number</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Department</th>
                            <th scope="col">Level</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Age</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% student.forEach((data, index)=>{ %>
                            
                           <tr>
                                <td> <%= index+1 %>  </td>
                                <td> <%= data.mat_num %>  </td>
                                <td> <%= data.fullname %>  </td>
                                <td> <%= data.department %>  </td>
                                <td> <%= data.level %>  </td>
                                <td> <%= data.sex %>  </td>
                                <td> <%= data.age %>  </td>
                               <td>
                                   <a href="/students/<%= data._id %>" class="fa fa-pen" aria-hidden="true" style="font-size: 20px; color: rgb(10, 109, 1);"></a> &nbsp;&nbsp;
                                   <a href="/students/delete/<%= data._id %>" onclick="return confirm('Are you sure you want to delete this record');" class="fa fa-trash" aria-hidden="true" style="font-size: 20px; color: rgb(133, 10, 10);"></a>
                               </td>
                           </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
		</div>
	</div>

	<script src="/js/bootstrap.js"></script>
	<script src="/js/jquery.js"></script>
</body>
</html>